/.vscode/
.idea

.DS_Store

# goreleaser builds folder
/.builds/

# tests coverage
coverage.out

# local runtime data dir (created on first run)
/pb_data/

# plaintask todo files
*.todo

# generated markdown previews
README.html
CHANGELOG.html
LICENSE.html
